<div class="container-fluid p-3 bg-secondary">
	<div
		class="px-5 py-3 bg-light rounded-5 text-center border border-primary"
	>
		<h3 class="fw-bold text-danger">ERROR AL INICIAR SESIÓN....
			USUARIO NO AUTORIZADO</h3>
	</div>
	<div class="p-5 bg-light rounded-5">
		<div class="row">
			<div class="col text-center">
				<button
					class="btn btn-warning"
					onclick="location.href = '/user/register'"
				>Registrarse</button>
			</div>
			<div class="col text-center">
				<button
					class="btn btn-primary"
					onclick="location.href = '/user/login'"
				>Regresar</button>
			</div>
			<div class="col text-center">
				<button
					class="btn btn-success"
					onclick="location.href = '/'"
				>Inicio</button>
			</div>
		</div>
	</div>
</div>